@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0px solid lime;
}

.sprite {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.icon {
  opacity: 0.3;
}

.pngActive {
  filter: brightness(0) invert(1);
  opacity: 1;
}